@use 'sass:map';
@use 'sass:color';
@use '../utilities/variables' as var;
@use '../utilities/mixins' as mix;

// Section
.section__heading {
    text-align: center;
    margin: 2rem 0;
}
.div__galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;

    @include mix.contenedor;

    @include mix.desktop {
        width: 75%;
        grid-template-columns: repeat(5, 1fr);
        margin: 0 auto;
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
        transition: transform 0.3s ease;
        &:hover {
            cursor: pointer;
        }
        &:active {
            transform: scale(1.03);
        }
    }
}
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(#2c2c2c, $alpha: 0.5);
    display: grid;
    place-items: center;
    animation: fadeIn ease 0.5s;

    &-fadeout {
        animation: fadeOut ease 0.5s;
    }

    & img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 1rem;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.imagenDiv {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mix.desktop {
        width: 35%;
    }
}
.modalBoton {
    margin: 3rem 0 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    transition: transform 0.5s ease;

    &:hover {
        cursor: pointer;
        background-color: color.adjust(whitesmoke, $lightness: -10%);
    }
    
    &:active {
        transform: scale(1.2);
    }
}